
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="card" style="width: 240px;height:330px;margin:10px">
            <img class="card-img-top" style="height:200px;width:220px;margin-top:8px" src="~/assets/img/teacher/edf7ba30-086c-4d9f-9cee-2aadc7ef458ateacher1.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Teachers</h3>
                <a asp-controller="teacher" asp-action="index" class="btn btn-primary">Go to teachers</a>
            </div>
        </div>

        <div class="card" style="width: 240px;height:330px;margin:10px">
            <img class="card-img-top" style="height:200px;width:220px;margin-top:8px" src="~/assets/img/course/297f5e20-8cc3-4324-b110-fa105796b8e5course1.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Courses</h3>
                <a asp-controller="course" asp-action="index" class="btn btn-primary">Go to course</a>
            </div>
        </div>
        <div class="card" style="width: 240px;height:330px;margin:10px">
            <img class="card-img-top" style="height:200px;width:220px;margin-top:8px" src="~/assets/img/event/5bc5621b-0829-4187-96a3-9bfbcf71e148event1.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Events</h3>
                <a asp-controller="event" asp-action="index" class="btn btn-primary">Go to events</a>
            </div>
        </div>
        <div class="card" style="width: 240px;height:330px;margin:10px">
            <img class="card-img-top" style="height:200px;width:220px;margin-top:8px" src="~/assets/img/blog/blog3.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Blogs</h3>
                <a asp-controller="blog" asp-action="index" class="btn btn-primary">Go to blogs</a>
            </div>
        </div>
        <div class="card" style="width: 240px;height:330px;margin:10px">
            <img class="card-img-top" style="height:200px;width:220px;margin-top:8px" src="~/assets/img/event/speaker2.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Speakers</h3>
                <a asp-controller="speaker" asp-action="index" class="btn btn-primary">Go to speakers</a>
            </div>
        </div>
    </div>
</div>